In [1]:
import numpy as np
import pandas as pd

In [2]:
rank_df = pd.read_csv(
    'train_orders.csv',
    keep_default_na=False
)
rank_df

                    id                                         cell_order
0       00001756c60be8  1862f0a6 448eb224 2a9e43d6 7e2f170a 038b763d 7...
1       00015c83e2717b  2e94bd7a 3e99dee9 b5e286ea da4f7550 c417225b 5...
2       0001bdd4021779  3fdc37be 073782ca 8ea7263c 80543cd8 38310c80 0...
3       0001daf4c2c76d  97266564 a898e555 86605076 76cc2642 ef279279 d...
4       0002115f48f982  9ec225f0 18281c6c e3b6b115 4a044c54 365fe576 a...
...                ...                                                ...
139251  fffc30d5a0bc46  09727c0c ff1ea6a0 ddfef603 a01ce9b3 3ba953ee b...
139252  fffc3b44869198  978a5137 faa48f03 28dfb12a eea2e812 64fef97c 4...
139253  fffc63ff750064  5015c300 411b85d9 8238198c f4781d1d b5532930 e...
139254  fffcd063cda949  7e6266ad d8281fc5 d4ffcaef 3e0e4a47 21387fc8 c...
139255  fffe1d764579d5  1a63248d 9c3b96a5 1398a873 4e2d4c2d f71c538e 8...

[139256 rows x 2 columns]

In [6]:
order_list = ' '.join(rank_df[rank_df['id'] == '2a089afed0bd7f'].cell_order).split(' ')
order_list

['b7e3134f',
 '959515da',
 '309f397c',
 '1bed3fb9',
 'a506da1d',
 '85094fb9',
 'ead23bf9',
 '15507bbf',
 '74f7d7c5',
 'cc8eca58',
 'a231eab3',
 '5b37e50e',
 'b1649473',
 '3a0ad27b',
 '468ee832',
 '7ad833f9',
 '54acf526',
 'e3b39c10',
 '376c3e42',
 'd71f2c70',
 '9f77b672',
 'afadc406',
 '6435e3e9',
 '32003c7d',
 '2e760e48',
 'd7833dc6',
 'a83194f6',
 'aabafda7',
 'a0c11629',
 'bc41b93a',
 '9a235371',
 '24ff100e',
 'a71f57af',
 'e54bdfb1',
 '5d8baf50',
 '991113e0',
 'aecfd4ff',
 '58ac7f25',
 '9a7b8bd0',
 '668b7585',
 'ad0beb40',
 'dbc442ef',
 '76ad6290',
 '18ba1cf2',
 '6e55609d',
 '09d64a98',
 '3184375a',
 '985d1175',
 '12ebd5e9',
 'f73b9d5a',
 '774c1546',
 '0ac1748a',
 '7f42c9de',
 '710712c1',
 '6002ae9c',
 'a6cedc55',
 '6c9af503',
 'fd4859bd',
 '8c898b30',
 '8ad70d99',
 '7bee2e25',
 'fae69ad3',
 'a7a159fe',
 '6dc43936',
 'dbae04b9',
 'a47859c8',
 '8871a552',
 '4e0fd0e6',
 'f0efaad4',
 '7b333825',
 '25a7a25e',
 '029f5cda',
 '409286d9',
 'cc1564e2',
 '08cbe12d',
 '974cfcf6',
 '09ee27e0',
 'b7f57d56',
 '666c03c3',
 '90fd97de',
 '81795f93',
 'be551e63',
 '55c6211a',
 'f602084d',
 'c256842b',
 '5de0f24f',
 '0b553138',
 '4e74a4d6',
 '58eee42e',
 'c7f47076',
 'fcef029d',
 '2a706bf8',
 '9eb1403b',
 '3f10ef79',
 '2a054012',
 '0b1ef967',
 'cea1812e',
 'f02f8c01',
 'ddc455a4',
 'bb5a31d0',
 '57084555',
 '6d0b1979',
 'cdbcc13a',
 '57bfe53c',
 '163c878e',
 'aa476245',
 '5775b1c0',
 'ffe42118',
 '72b52f96',
 'f7216b67',
 '1f31ee16',
 '52c425da',
 '4f9ad0fb',
 '8a88bcde',
 'f2361f2e',
 '75ad717b',
 '111177c1',
 '1983c15c']

In [ ]:
order_list.index()