In [1]:
import numpy as np
import pandas as pd
from dataset_class.data_preprocessing import *

2023-05-25 00:05:29.554690: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-05-25 00:05:30.211668: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT

In [2]:
tmp_df = pd.read_csv('./dataset_class/data_folder/all_train_df.csv')
tmp_df

,id,cell_id,cell_type,source,rank,ancestor_id,parent_id,pct_rank,fold
0,00001756c60be8,1862f0a6,code,# This Python 3 environment comes with many he...,0.0,945aea18,NaN,0.000000,0.0
1,00001756c60be8,2a9e43d6,code,import numpy as np\nimport pandas as pd\nimpor...,2.0,945aea18,NaN,0.034483,0.0
2,00001756c60be8,038b763d,code,import warnings\nwarnings.filterwarnings('igno...,4.0,945aea18,NaN,0.068966,0.0
3,00001756c60be8,2eefe0ef,code,matplotlib.rcParams.update({'font.size': 14}),6.0,945aea18,NaN,0.103448,0.0
4,00001756c60be8,0beab1cd,code,"def evaluate_preds(train_true_values, train_pr...",8.0,945aea18,NaN,0.137931,0.0
...,...,...,...,...,...,...,...,...,...
6370645,fffe1d764579d5,0d770d6b,markdown,## REMOVING THE OUTLIERS,43.0,3c40bfa6,NaN,0.597222,4.0
6370646,fffe1d764579d5,d45ddc62,markdown,### DIMENSIONALITY CURSE,33.0,3c40bfa6,NaN,0.458333,4.0
6370647,fffe1d764579d5,1a63248d,markdown,# BANGALORE HOUSE PRICE PREDICTION,0.0,3c40bfa6,NaN,0.000000,4.0
6370648,fffe1d764579d5,a8ffc8b4,markdown,* We have achieved 75.2% accuracy in predictin...,69.0,3c40bfa6,NaN,0.958333,4.0
6370649,fffe1d764579d5,4e2d4c2d,markdown,## DATA INGESTION,3.0,3c40bfa6,NaN,0.041667,4.0

In [3]:
""" Convert code text & markdown text """
for idx in tqdm(range(len(tmp_df))):
    if tmp_df.iloc[idx, 2] == 'markdown':
        tmp_df.iloc[idx, 3] = markdown_to_text(tmp_df.iloc[idx, 3])
    else:
        tmp_df.iloc[idx, 3] = code_tokenizer(tmp_df.iloc[idx, 3])
tmp_df

  0%|          | 0/6370650 [00:00<?, ?it/s]

,id,cell_id,cell_type,source,rank,ancestor_id,parent_id,pct_rank,fold
0,00001756c60be8,1862f0a6,code,# This Python 3 environment comes with many he...,0.0,945aea18,NaN,0.000000,0.0
1,00001756c60be8,2a9e43d6,code,import numpy as np import pandas as pd import ...,2.0,945aea18,NaN,0.034483,0.0
2,00001756c60be8,038b763d,code,import warnings warnings filterwarnings 'ignore',4.0,945aea18,NaN,0.068966,0.0
3,00001756c60be8,2eefe0ef,code,matplotlib rcParams update 'font.size' 14,6.0,945aea18,NaN,0.103448,0.0
4,00001756c60be8,0beab1cd,code,def evaluate_preds train_true_values train_pre...,8.0,945aea18,NaN,0.137931,0.0
...,...,...,...,...,...,...,...,...,...
6370645,fffe1d764579d5,0d770d6b,markdown,REMOVING THE OUTLIERS,43.0,3c40bfa6,NaN,0.597222,4.0
6370646,fffe1d764579d5,d45ddc62,markdown,DIMENSIONALITY CURSE,33.0,3c40bfa6,NaN,0.458333,4.0
6370647,fffe1d764579d5,1a63248d,markdown,BANGALORE HOUSE PRICE PREDICTION,0.0,3c40bfa6,NaN,0.000000,4.0
6370648,fffe1d764579d5,a8ffc8b4,markdown,\nWe have achieved 75.2% accuracy in predictin...,69.0,3c40bfa6,NaN,0.958333,4.0
6370649,fffe1d764579d5,4e2d4c2d,markdown,DATA INGESTION,3.0,3c40bfa6,NaN,0.041667,4.0

In [4]:
tmp_df.to_csv('apply_preprocess_train_df.csv', index=False)